/*
                           ___ __  
| _ |_  _  _ _ |_ _  _. _    /  _) 
|(_||_)(_)| (_||_(_)| |(_)  /  /__ 
             www.laboratorio72.com
             
Version: 1.0
Author: Mateus                                                    

*/

/* --------------------------------------------------
Global Reset
-------------------------------------------------- */
html, body { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, img, small, strike, sub, sup, tt, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: normal; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style: none; }
	
	
/* --------------------------------------------------
loader
-------------------------------------------------- */	

